
h1 {margin: 0 0 0 0}
.title { text-align:center; font-size:32px; font-family:'나눔고딕'}
.title2 {text-align:left; font-size:32px; font-family:'나눔고딕'}
#blank {height: 200px}
#indexmenu { height: 150px; width: 850px; margin:auto;}
